:root {

  --starbucks: #006341;

  --orange: #bf926b;

  --brown-A: #5c2a0d;

  --brown-B: #401201;

  --red: #bf2011;

}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap') ;

* {
  font-family: Quicksand , sans-serif;
  margin: 0;
  padding: 0;
}

.screen-size {
  min-height: 640px;
  width: 360px;
}

.main-header {
  background-color: var(--starbucks);
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.158);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 65px;
  width: 360px;
}

.main-header h1 {
  padding-top: 5px;
  text-align: center;
  width: 50%;
}

.header-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.header-buttons-container button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 50%;
}

.selected img, .header-buttons-container button img {
  filter: grayscale(1) invert(1);
}

.header-search-bar {
  padding: 5px;
  text-align: center;
  width: 360px;
}

.header-raidos {
  align-items: center;
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  width: 360px;
}

.header-raidos label {
  display: flex;
  gap: 5px;
  margin: 0;
}

.header-raidos input {
  accent-color: var(--starbucks);
}

.header-search-button {
  border: 1px solid gray;
  padding: 5px;
  transition: 0.75s;
  width: 360px;
}

.header-search-button:enabled {
  background-color: white;
}

.main-footer {
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 360px;
}

.footer-button {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--brown-B);
  padding: 5px 0;
  width: 50%;
}

.selected {
  background-color: var(--brown-A);
}

.util-buttons {
  display: flex;
}

.util-buttons button {
  background-color: transparent;
  border: none;
  height: 40px;
  padding: 5px;
  width: 50%;
}

.favorite-btn {
  filter: invert(47%) sepia(16%) saturate(2500%)
    hue-rotate(-50deg) brightness(100%) contrast(8001%);
}

.copied-message {
  background-color: var(--starbucks);
  border-radius: 5px;
  bottom: 50px;
  color: white;
  font-weight: 700;
  left: 50%;
  padding: 10px;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  transition: 1s;
  width: 200px;
  z-index: 2;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.loading {
  animation: loading 0.9s both infinite;
  border: 10px solid lightgray;
  border-radius: 100%;
  border-top-color: var(--brown-A);
  height: 75px;
  margin: auto;
  transition: 1s;
  width: 75px;
}

@keyframes loading {

  to {
    transform: rotate(2turn);
  }
}
