.recipe-details-header {
  position: relative;
  width: 360px;
}

.recipe-details-header img {
  width: 100%;
}

.recipe-details-header .recipe-title {
  background-image: linear-gradient(180deg, transparent 0%, white 100%);
  display: flex;
  flex-direction: column-reverse;
  height: 340px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 360px;
}
