.recipe-details-container .loading {
  border-width: 12px;
  height: 100px;
  margin-top: 100px;
  width: 100px;
}

.recipe-details-header {
  position: relative;
  width: 360px;
}

.recipe-details-header img {
  width: 100%;
}

.recipe-details-header .recipe-title {
  background-image: linear-gradient(180deg, transparent 0%, white 85%);
  display: flex;
  flex-direction: column-reverse;
  height: 340px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 360px;
}

.recipe-details-list {
  padding-top: 30px;
  text-align: center;
}

.recipe-details-instructions {
  line-height: 1.6rem;
  padding: 15px;
  text-align: justify;
}

.start-recipe-button {
  background-color: var(--brown-A);
  border: none;
  border-top: 1px solid black;
  bottom: 0;
  color: white;
  font-weight: 700;
  height: 50px;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 360px;
  z-index: 8001;
}

/* Carousel */
.Carousel {
  padding-bottom: 80px;
  padding-top: 30px;
  width: 360px;
}

.carousel-item-container {
  height: 180px;
  position: relative;
  width: 180px;
}

.carousel-item-container h3 {
  background-image: linear-gradient(180deg, black 0%, transparent 100%);
  color: white;
  height: 80px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 180px;
}

.carousel-item-container img {
  height: 180px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 100%;
  top: 30%;
  width: 30%;
}
