.recipe-inprogress-header {
  position: relative;
  width: 360px;
}

.recipe-inprogress-header img {
  width: 100%;
}

.recipe-inprogress-header .recipe-title {
  background-image: linear-gradient(180deg, transparent 0%, white 85%);
  display: flex;
  flex-direction: column-reverse;
  height: 340px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 360px;
}

.recipe-inprogress-instructions {
  line-height: 1.6rem;
  padding: 15px;
  padding-top: 30px;
  text-align: justify;
}

.recipe-inprogress-list {
  text-align: center;
}

.recipe-inprogress-list label {
  padding: 5px;
  width: 100%;
}

.recipe-inprogress-list label input {
  opacity: 0;
}

.finish-recipe-button {
  padding: 10px;
  width: 360px;
}

.finish-recipe-button:disabled {
  background-color: white;
}

.finish-recipe-button:enabled {
  background-color: var(--brown-A);
  border: none;
  border-top: 1px solid black;
  color: white;
  font-weight: 700;
  height: 50px;
}

.used-ingredient {
  font-style: italic;
  text-decoration: line-through;
}

