.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 76px;
}

.recipes-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipes-filter-buttons button {
  padding: 5px;
  width: 120px;
}

/* Card com degradê e texto em cima da imagem */

/* .recipe-cards-container {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  align-items: center;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.card-title {
  background-image: linear-gradient(180deg, black 0%, transparent 100%);
  color: white;
  height: 100px;
  left: 50%;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.card-image {
  width: 360px;
} */

/* 2 Cards em linha */

/* .recipe-cards-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  flex-direction: column-reverse;
  height: 215px;
  justify-content: space-around;
  text-align: center;
  width: 150px;
}

.card-title {
  font-size: 1.2rem;
  height: 65px;
  margin: 0;
  overflow: scroll;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  width: 150px;
}

.card-image {
  width: 150px;
} */

/* 2 Cards em linha com degradê e texto em cima da imagem */
.recipe-cards-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  /* flex-direction: column-reverse; */
  height: 150px;
  justify-content: space-around;
  position: relative;
  text-align: center;
  width: 150px;
}

.card-title {

  /* background-image: linear-gradient(180deg, black 0%, transparent 100%); */
  background-image: linear-gradient(180deg, transparent 0%, black 100%);
  bottom: 0;
  color: white;
  font-size: 1.5rem;

  /* height: 50%; */
  margin: 0;
  padding: 5px;
  position: absolute;

  /* top: 0; */
  width: 100%;
}

.card-image {
  width: 150px;
}
